body {
    font-family: 'Lora', serif;
    background-color: #f8f4f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #b59d73;
}

.image-container {
    align-items: flex-end
}

.overlay-text {
    background: rgba(245, 240, 230, 0.95);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 90vw; /* 90% de la largeur de l'écran */
    max-width: 1000px;
    margin: auto;
    position: relative;
    bottom: 0;
}

/* Texte responsive qui s’adapte à la largeur du cadre */
.overlay-text h1 {
    font-size: calc(1rem + 5vw); /* Adapte la taille en fonction de la largeur */
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.overlay-text p {
    font-size: calc(0.8rem + 2.5vw); /* Adapte la taille du texte en fonction du cadre */
    color: white;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: calc(0.8rem + 1vw); /* Taille de texte responsive */
    transition: color 0.3s;
}

button {
    background-color: #b59d73;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

nav ul li a:hover {
    color: #b59d73;
}

button:hover {
    background-color: #8b7a57;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


